{% extends 'base.html.twig' %}

{% block title %}COMPONENT SETTINGS{% endblock %}

{% block body %}
    <div class="dedicationPage">
        <div class="animationContainer">
            <div class="bubbleContainer">

                <figure class=" circle1 grandCircle"><span class="reflet">    </span></figure>
                <figure class=" circle2 grandCircle"><span class="reflet">    </span></figure>
                <figure class=" circle3 grandCircle"><span class="reflet">    </span></figure>
                <figure class=" circle4 petitCircle"><span class="reflet">    </span></figure>
                <figure class=" circle5 petitCircle"><span class="reflet">    </span></figure>
                <figure class=" circle6 petitCircle"><span class="reflet">    </span></figure>
                <figure class=" circle7 petitCircle"><span class="reflet">    </span></figure>
                <figure class=" circle8 grandCircle"><span class="reflet">    </span></figure>
                <figure class=" circle9 petitCircle"><span class="reflet">    </span></figure>
                <figure class=" circle10 grandCircle"><span class="reflet">    </span></figure>
                <figure class=" circle11 petitCircle"><span class="reflet">    </span></figure>
                <figure class=" circle12 miniCircle"><span class="reflet">    </span></figure>
                <figure class=" circle13 miniCircle"><span class="reflet">    </span></figure>
                <figure class=" circle14 miniCircle"><span class="reflet">    </span></figure>
                <div class="corail1"></div>
                <div class="volcan1"></div>
                <div class="corail2"></div>
                <div class="volcan2"></div>
                <div class="corail3"></div>
                <div class="volcan3"></div>
                <div class="corail4"></div>
                <div class="volcan4"></div>
            </div>
        </div>

        <div class="textContainer">
            <h1>Poulpidou</h1>
            <span>Made by Maxence Abrile and Mey Detour</span>
            <p>July 2024. This site was made with love by computer enthusiasts. it is there to serve you and meet your
                needs. Do not hesitate to contact us at the following addresses if you have any suggestion for
                improvement or to report a bug: abrilemaxence@gmail.com, meydetour@gmail.com</p>
        </div>

    </div>

{% endblock %}