{% extends 'base.html.twig' %}

{% block title %}COMPONENT SETTINGS{% endblock %}

{% block body %}

    <div class="fr-howToWriteTechnicalSpecificationContainer">

        <div class="leftPanel">
            <div class="sectionContainer">

                <div class="section">
                    <span>Introduction </span>
                    <ul>
                        <li>Sommaire</li>
                        <li>Aperçu Clé de l'Entreprise</li>
                    </ul>
                </div>
                <div class="section">
                    <span>Context </span>
                    <ul>
                        <li>Présentez le client, ses services, et votre rôle dans le projet, en clarifiant les
                            responsabilités de chacun. Mentionnez le secteur d'activité du client ou de
                            l'entreprise.
                        </li>
                        <li>Analyse des Besoins : Définir l'objectif du projet ( Ex : création d'un site web, refonte
                            de la page d'accueil). Quelles sont les raisons de ces changements ?
                        </li>
                        <li>Détermination du Budget
                        </li>
                        <li>Listez les collaborateurs internes et externes, ainsi que les parties prenantes et délimiter
                            leurs rôles dans le projet.
                        </li>
                        <li>Considérations du budget et de délais.</li>

                    </ul>
                </div>


                <div class="section">
                    <span>Objectifs et Fonctionnalités </span>
                    <ul>
                        <li>But du Projet : (Exemple : Présentation d'un produit, promotion d'un service).</li>
                        <li>Détaillez les fonctionnalités principales du produit final (Exemple : création de profils
                            clients, services de réservation).
                        </li>
                        <li>Décrivez les composants essentiels requis (Ex : un système de réservation,
                            une présentation des nouveautés, une application compatible iOS..).
                        </li>
                        <li>Listez les données qui seront stocker et exploités</li>
                        <li>Décrivez les modalités internes au site ( paiement , annulation de reservation )</li>

                    </ul>
                </div>
                <div class="section">
                    <span>Attentes du Client</span>
                    <ul>
                        <li>Mettez en avant les attentes spécifiées par le client</li>
                        <li>Documentez les spécificités fournies par le client, comme les préférences esthétiques, les
                            couleurs ou d'autres éléments qu'ils apprécient.
                        </li>
                    </ul>
                </div>
                <div class="section">
                    <span>Livrables </span>
                    <p>
                        Ce qu'on doit rentre à la fin du projet ( Ex : Un site web responsive, un manuel d'utilisation,
                        une charte graphique, un logo.. )
                    </p>

                </div>
            </div>

            <div class="sectionContainer">

                <div class="section">
                    <span>Persona, Arborescence et chiffres</span>
                    <ul>
                        <li>Architecture du site, mise en page et hiérarchie</li>
                        <li>les cibles, le coeur de cible et un profil type</li>
                        <li>Considérez d'inclure des statistiques pertinentes (Exemple : augmentation de la visibilité
                            quotidienne des utilisateurs grâce aux améliorations du site)
                        </li>
                        <li>Citez les avantages d'avoir un tel projet ( Ex : Il est important de savoir pourquoi une
                            présence en ligne est cruciale, particulièrement dans le secteur de la psychologie et du
                            bien-être. Vous pouvez mentionner des points comme la compétitivité, l'accessibilité pour
                            les
                            clients, et l'amélioration de la réputation. )
                        </li>


                    </ul>
                </div>
                <div class="section">
                    <span>Continuité du Projet</span>
                    <ul>
                        <li>Prévoir l'entretient ou la maintenance du projet ( Gerer les Performances SEO, les taux de
                            conversion, etc.)
                        </li>
                        <li>Étapes Clés du Projet ( Ex :Réunion de lancement , Validation des maquettes<,Vérification
                            des fonctionnalités spécifiques,Livraison de la version bêta du site pour un retour
                            d'utilisateur, Livraison finale
                        </li>

                    </ul>
                </div>
                <div class="section">
                    <span>Design, Contenu et Préférences Esthétiques</span>
                    <ul>
                        <li>Éléments spécifiques de design demandés par le client tels que les couleurs, le style de
                            design,
                            etc. (Ambiance de design désirée, ton)
                        </li>
                        <li>Décrivez le style de communication et la langage utilisée</li>
                        <li>Lignes Directrices Stylistiques (Exemples : minimaliste, gothique, naturel)</li>

                    </ul>
                </div>


                <div class="section">
                    <span>Implémentations Technologiques</span>
                    <ul>
                        <li>Frameworks et langages de programmation utilisés</li>
                        <li>Intégration avec les réseaux</li>
                        <li>Mesures de sécurité de l'application</li>

                    </ul>
                </div>

            </div>
        </div>


        <div class="rightPanel">
            <span>Bonnes Pratiques</span>
            <ul>
                <li>Maintenez un ton cohérent tout au long du document pour guider le client à travers la nomenclature
                    technique et les termes comme si vous vous positionniez dans leur perspective.
                </li>
                <li>Il est important de savoir combien d'informations détaillées nous devons fournir dans le document.
                </li>
            </ul>
            <p>Ex 1 : Le document doit être rédigé dans un style formel, avec un langage simple et direct. La longueur
                doit être courte et concise, en utilisant une structure en liste à puces pour une clarté maximale. La
                perspective adoptée sera à la troisième personne, avec un degré de détail modéré. Les métaphores et
                analogies doivent être évitées, et l'orientation temporelle doit être au présent. Quelques données ou
                statistiques peuvent être incluses pour appuyer les points importants. Le document doit être fonctionnel
                et direct, sans respecter de conventions littéraires.</p>
            <p>Ex 2 : Le projet de création du site web pour Gaelle Ghizoli vise à améliorer sa présence en ligne et à
                attirer un public plus large. En tant que responsable de projet, il est essentiel de clarifier les
                attentes et les fonctionnalités du site web pour garantir le succès de cette initiative.
                Gaelle Ghizoli, spécialisée dans le secteur de la psychologie et du bien-être, souhaite moderniser sa
                présence en ligne pour rester compétitive sur le marché. Le site web servira de plateforme de contact et
                de réservation, facilitant les interactions avec les clients et offrant une présentation claire de ses
                services.
                Les objectifs principaux du projet incluent :
                Améliorer la visibilité en ligne de Gaelle Ghizoli.
                Attirer plus de clients grâce à une plateforme de réservation en ligne.
                Faciliter les interactions avec les clients via un site moderne et accessible.
                Le site web devra refléter la marque personnelle de Gaelle Ghizoli à travers un design épuré et moderne,
                utilisant des couleurs bleues et blanches. Les technologies choisies pour le développement sont Symfony
                et React, garantissant une performance optimale et une compatibilité mobile.
                Des statistiques montrent que les plateformes de réservation en ligne peuvent augmenter
                significativement la clientèle, avec des taux de conversion moyens compris entre 2 et 5 %. De plus, une
                présence en ligne renforce la crédibilité et améliore la réputation professionnelle, ce qui est crucial
                dans le secteur de la psychologie et du bien-être.
                En résumé, ce document a pour objectif de définir clairement les attentes et les fonctionnalités du site
                web, afin de garantir une collaboration efficace et un résultat final satisfaisant pour Gaelle
                Ghizoli.</p>
        </div>
    </div>

{% endblock %}